.managment{
    padding: 58px 0 76px 0;
    max-height: 342px;
    background: url(/img/managment/managmentBg.jpg) center (center/cover) no-repeat;
    &__logo{
        display: block;
        margin: 0 auto;
    }
    &__title{
        font-family: Roboto;
        font-size: 26px;
        text-align: center;
        color: #ffffff;
        margin-top: 20px;
    }
    &__descr{
        margin-top: 20px;
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
    }
}