.question{
    background:url(/img/question/qustionBg.png) center (center/cover) no-repeat;
    max-height: 438px;
    padding: 62px 0 79px 0;
    &__header{
        background-color: #25333c;
        color: #ffffff;
        text-align: center;
        height: 68px;
        width: 100%;
        display: block;
        &__title{
            font-size: 19px;
            font-weight: bold;
            line-height: 35px;
        }
        &__descr{
            font-size: 14px;
            color: #ffffff;
        }
    }
    &__form{
        background:rgba(160, 159, 159, 0.5);
        height: 229px;
        padding-top: 10px;
        &__wrapper{
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
        }
        &__input{
            text-align: center;
            line-height: 38px;
            width: 268px;
            height: 45px;
            text-shadow: 0 -1px rgba(0,0,0,.1);
            border-radius: 13px;
            background: white;
            border: #898989 solid 1px;
            font-size: 13px;
            &__mesege{
                display: block;
                margin: 0 auto;
                margin-top: 8px;
                width: 90%;
                height: 71px;
                text-align: left;
                
            }
        }
        
    }
}