.agent{
    padding: 58px 0 75px 0;
    max-height: 454px;
    background: url(/img/agent/agent_bg.jpg) center (center/cover) no-repeat;
    &__icon{
        display: block;
        margin: 0 auto;
    }
    &__title{
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        margin-top: 20px;
    }
    &__desrc{
        font-family: Roboto;
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
        margin-top: 22px;
    }
}